
$brown:rgb(#46351D);
$darkGreen:rgb(#646F4B);
$darkBlue:rgb(#839D9A);


.txt1{
    position: absolute;
    width: 668px;
    height: 92px;
    left: 18px;
    top: 252px;
}

.jumbo{
    position: relative;
    width: 700px;
    height: 400px;
    background: #BFD2BF;
    border-radius: 25px;
    
}

.pic1{
    width: 10px;
    height: 10px;
}

